In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("ball_by_ball_it20.csv")
df.head()

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,...,South Africa,1,1,0,1,0,NaN,NaN,1,1
1,1,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,...,South Africa,1,1,1,1,1,NaN,NaN,1,1
2,2,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,...,South Africa,1,0,1,0,1,1.0,2.0,0,1
3,3,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,...,South Africa,1,0,1,1,1,NaN,NaN,0,1
4,4,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,...,South Africa,1,4,1,2,1,NaN,NaN,4,1

In [3]:
df = df.drop(columns =['Unnamed: 0','Method','Extra Type', 'Runs From Ball','Player Out', 'Ball Rebowled',"Runs to Get","Total Non Striker Runs","Batter Balls Faced","Player Out Balls Faced","Non Striker Balls Faced","Player Out Runs","Bowler Runs Conceded","Valid Ball"])

In [4]:
df.head()

,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,Non Striker,...,Batter Runs,Extra Runs,Wicket,Innings Runs,Innings Wickets,Target Score,Balls Remaining,Winner,Chased Successfully,Total Batter Runs
0,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,KR Mayers,...,1,0,0,1,0,259,119,South Africa,1,1
1,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,BA King,...,1,0,0,2,0,259,118,South Africa,1,1
2,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,KR Mayers,...,0,0,1,2,1,259,117,South Africa,1,0
3,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,KR Mayers,...,0,0,0,2,1,259,116,South Africa,1,0
4,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,KR Mayers,...,4,0,0,6,1,259,115,South Africa,1,4

In [5]:
df.columns

Index(['Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second', 'Innings',
       'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler', 'Batter Runs',
       'Extra Runs', 'Wicket', 'Innings Runs', 'Innings Wickets',
       'Target Score', 'Balls Remaining', 'Winner', 'Chased Successfully',
       'Total Batter Runs'],
      dtype='object')

In [6]:
id = {old_id:new_id for new_id,old_id in enumerate(df['Match ID'].unique(), start=1)}
df["Match ID"] = df["Match ID"].map(id)

In [7]:
df.shape

(425119, 21)

In [8]:
df.head()

,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,Non Striker,...,Batter Runs,Extra Runs,Wicket,Innings Runs,Innings Wickets,Target Score,Balls Remaining,Winner,Chased Successfully,Total Batter Runs
0,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,KR Mayers,...,1,0,0,1,0,259,119,South Africa,1,1
1,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,BA King,...,1,0,0,2,0,259,118,South Africa,1,1
2,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,KR Mayers,...,0,0,1,2,1,259,117,South Africa,1,0
3,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,KR Mayers,...,0,0,0,2,1,259,116,South Africa,1,0
4,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,KR Mayers,...,4,0,0,6,1,259,115,South Africa,1,4

In [9]:
df = df.rename(columns={"Match ID":"match_id","Bat First":"BattingTeam","Bat Second":"BowlingTeam"})

In [10]:
df["BattingTeam"].unique()

array(['West Indies', 'Scotland', 'Estonia', 'Portugal', 'Kuwait',
       'Sri Lanka', 'Swaziland', 'Belize', 'England',
       'United Arab Emirates', 'Denmark', 'Bangladesh', 'Finland',
       'India', 'Papua New Guinea', 'Afghanistan', 'Japan', 'Croatia',
       'Netherlands', 'Ireland', 'New Zealand', 'Romania', 'Pakistan',
       'Gibraltar', 'Rwanda', 'Malaysia', 'Malta', 'Cyprus', 'Nepal',
       'Austria', 'Samoa', 'Nigeria', 'South Africa', 'Australia',
       'Belgium', 'Oman', 'Bahamas', 'Seychelles', 'Panama', 'Jersey',
       'Zimbabwe', 'Hong Kong', 'Kenya', 'China', 'Uganda', 'Botswana',
       'Ghana', 'Vanuatu', 'Cayman Islands', 'Bahrain', 'Malawi',
       'Isle of Man', 'Cameroon', 'Norway', 'Singapore', 'Maldives',
       'Hungary', 'Canada', 'St Helena', 'Tanzania', 'Serbia', 'Namibia',
       'Philippines', 'Germany', 'Bulgaria', 'Thailand', 'Lesotho',
       'Czech Republic', 'Luxembourg', 'Spain', 'Mali', 'Bhutan',
       'Slovenia', 'Indonesia', 'Argentina', 'Bermuda', 'Sweden', 'Fiji',
       'France', 'Turkey', 'Mozambique', 'Qatar', 'Italy', 'Gambia',
       'Cook Islands', 'Guernsey', 'Sierra Leone',
       'United States of America', 'Israel', 'Switzerland', 'Myanmar',
       'Saudi Arabia', 'South Korea', 'Iran', 'Eswatini', 'Greece'],
      dtype=object)

In [11]:
teams =['West Indies',
        'Sri Lanka',
        'England',
        'Bangladesh',
        'India',
        'New Zealand',
        'Pakistan',
        'Nepal',
        'South Africa', 
        'Australia'
       ]

In [12]:
df= df[df["BattingTeam"].isin(teams)]
df= df[df["BowlingTeam"].isin(teams)]

In [13]:
df["total_runs"] =df["Batter Runs"] + df["Extra Runs"]

## First innings data

In [14]:
total_score_df = df.groupby(["match_id","Innings"]).sum()["total_runs"].reset_index()

In [15]:
total_score_df

      match_id  Innings  total_runs
0            1        1         258
1            1        2         259
2            9        1         155
3            9        2         161
4           12        1         175
...        ...      ...         ...
1341      1839        2         170
1342      1840        1         153
1343      1840        2         146
1344      1842        1         180
1345      1842        2         166

[1346 rows x 3 columns]

In [16]:
inning_1 = total_score_df[total_score_df["Innings"] == 1]

In [17]:
inning_1 = df.merge(inning_1, on=["match_id", "Innings"])

In [18]:
inning_1.head()

,match_id,Date,Venue,BattingTeam,BowlingTeam,Innings,Over,Ball,Batter,Non Striker,...,Wicket,Innings Runs,Innings Wickets,Target Score,Balls Remaining,Winner,Chased Successfully,Total Batter Runs,total_runs_x,total_runs_y
0,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,KR Mayers,...,0,1,0,259,119,South Africa,1,1,1,258
1,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,BA King,...,0,2,0,259,118,South Africa,1,1,1,258
2,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,KR Mayers,...,1,2,1,259,117,South Africa,1,0,0,258
3,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,KR Mayers,...,0,2,1,259,116,South Africa,1,0,0,258
4,1,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,KR Mayers,...,0,6,1,259,115,South Africa,1,4,4,258

In [19]:
inning_1["wicket_left"] = 10 - inning_1["Innings Wickets"]

In [20]:
inning_1 = inning_1[["match_id","Venue","BattingTeam","BowlingTeam","Innings","Over","Ball","wicket_left","Innings Runs","Balls Remaining","total_runs_y"]]

In [21]:
inning_1.head()

,match_id,Venue,BattingTeam,BowlingTeam,Innings,Over,Ball,wicket_left,Innings Runs,Balls Remaining,total_runs_y
0,1,SuperSport Park,West Indies,South Africa,1,1,1,10,1,119,258
1,1,SuperSport Park,West Indies,South Africa,1,1,2,10,2,118,258
2,1,SuperSport Park,West Indies,South Africa,1,1,3,9,2,117,258
3,1,SuperSport Park,West Indies,South Africa,1,1,4,9,2,116,258
4,1,SuperSport Park,West Indies,South Africa,1,1,5,9,6,115,258

In [22]:
inning_1 = inning_1.rename(columns= {"Venue":"stadium","Innings Runs":"current_score","Balls Remaining":"ball_left"})

In [23]:
stadium_names = inning_1["stadium"].value_counts()[inning_1["stadium"].value_counts()>500].index.tolist()

In [24]:
inning_1 =inning_1[inning_1["stadium"].isin(stadium_names)]

In [25]:
inning_1["CRR"] = (inning_1["current_score"]*6) /(120 - inning_1["ball_left"])

In [26]:
inning_1["CRR"] = inning_1["CRR"].replace([np.inf, -np.inf],0)

In [27]:
inning_1.head(4)

,match_id,stadium,BattingTeam,BowlingTeam,Innings,Over,Ball,wicket_left,current_score,ball_left,total_runs_y,CRR
0,1,SuperSport Park,West Indies,South Africa,1,1,1,10,1,119,258,6.0
1,1,SuperSport Park,West Indies,South Africa,1,1,2,10,2,118,258,6.0
2,1,SuperSport Park,West Indies,South Africa,1,1,3,9,2,117,258,4.0
3,1,SuperSport Park,West Indies,South Africa,1,1,4,9,2,116,258,3.0

In [28]:
final_df = inning_1[["BattingTeam","BowlingTeam","stadium","current_score","ball_left","wicket_left","CRR","total_runs_y"]]

In [29]:
final_df

,BattingTeam,BowlingTeam,stadium,current_score,ball_left,wicket_left,CRR,total_runs_y
0,West Indies,South Africa,SuperSport Park,1,119,10,6.000000,258
1,West Indies,South Africa,SuperSport Park,2,118,10,6.000000,258
2,West Indies,South Africa,SuperSport Park,2,117,9,4.000000,258
3,West Indies,South Africa,SuperSport Park,2,116,9,3.000000,258
4,West Indies,South Africa,SuperSport Park,6,115,9,7.200000,258
...,...,...,...,...,...,...,...,...
82289,Pakistan,New Zealand,Dubai International Cricket Stadium,148,4,5,7.655172,153
82290,Pakistan,New Zealand,Dubai International Cricket Stadium,149,3,5,7.641026,153
82291,Pakistan,New Zealand,Dubai International Cricket Stadium,151,2,5,7.677966,153
82292,Pakistan,New Zealand,Dubai International Cricket Stadium,152,1,5,7.663866,153
82293,Pakistan,New Zealand,Dubai International Cricket Stadium,153,0,5,7.650000,153

In [30]:
final_df = final_df.sample(final_df.shape[0])

In [31]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68579 entries, 20845 to 66871
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BattingTeam    68579 non-null  object
 1   BowlingTeam    68579 non-null  object
 2   stadium        68579 non-null  object
 3   current_score  68579 non-null  int64
 4   ball_left      68579 non-null  int64
 5   wicket_left    68579 non-null  int64
 6   CRR            68579 non-null  float64
 7   total_runs_y   68579 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 4.7+ MB

In [32]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state =42)

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [34]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['BattingTeam','BowlingTeam','stadium'])
]
,remainder='passthrough')

In [35]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [36]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9628904207765654
2.546132151118935

In [37]:
import pickle 
pickle.dump(pipe,open("pipe.pkl","wb"))

In [38]:
final_df["stadium"].unique()

array(['National Cricket Stadium', 'Adelaide Oval', 'Kingsmead',
       'Beausejour Stadium', 'Sheikh Zayed Stadium', 'Kennington Oval',
       'Kensington Oval', 'Sophia Gardens',
       'Mahinda Rajapaksa International Cricket Stadium',
       'Gaddafi Stadium', 'New Wanderers Stadium', 'Old Trafford',
       'Sabina Park', 'Melbourne Cricket Ground', 'SuperSport Park',
       'Shere Bangla National Stadium', 'Bay Oval', 'Newlands',
       'The Wanderers Stadium', 'Pallekele International Cricket Stadium',
       'Dubai International Cricket Stadium', 'Wankhede Stadium',
       'Eden Park', 'R.Premadasa Stadium', 'County Ground',
       'Sydney Cricket Ground', 'R Premadasa Stadium', 'The Rose Bowl',
       'Westpac Stadium', "Lord's", 'Hagley Oval', 'Edgbaston',
       'Vidarbha Cricket Association Stadium', 'National Stadium',
       'Providence Stadium', "Queen's Park Oval", 'Seddon Park',
       'Trent Bridge', 'Eden Gardens', 'Zahur Ahmed Chowdhury Stadium',
       'Narendra Modi Stadium', 'Zayed Cricket Stadium',
       'Central Broward Regional Park Stadium Turf Ground',
       'Brisbane Cricket Ground', 'Sharjah Cricket Stadium',
       'Saurashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium',
       'Darren Sammy National Cricket Stadium', 'M Chinnaswamy Stadium',
       'Warner Park'], dtype=object)

## Second Innings

In [39]:
inning_2 = total_score_df[total_score_df["Innings"]== 2]

In [40]:
inning_2 = df.merge(inning_2, on=["match_id", "Innings"])

In [41]:
inning_2.head()

,match_id,Date,Venue,BattingTeam,BowlingTeam,Innings,Over,Ball,Batter,Non Striker,...,Wicket,Innings Runs,Innings Wickets,Target Score,Balls Remaining,Winner,Chased Successfully,Total Batter Runs,total_runs_x,total_runs_y
0,1,2023-03-26,SuperSport Park,West Indies,South Africa,2,1,1,Q de Kock,RR Hendricks,...,0,4,0,259,119,South Africa,1,4,4,259
1,1,2023-03-26,SuperSport Park,West Indies,South Africa,2,1,2,Q de Kock,RR Hendricks,...,0,8,0,259,118,South Africa,1,8,4,259
2,1,2023-03-26,SuperSport Park,West Indies,South Africa,2,1,3,Q de Kock,RR Hendricks,...,0,8,0,259,117,South Africa,1,8,0,259
3,1,2023-03-26,SuperSport Park,West Indies,South Africa,2,1,4,Q de Kock,RR Hendricks,...,0,8,0,259,116,South Africa,1,8,0,259
4,1,2023-03-26,SuperSport Park,West Indies,South Africa,2,1,5,Q de Kock,RR Hendricks,...,0,9,0,259,115,South Africa,1,9,1,259

In [42]:
inning_2["wicket_left"] = 10 - inning_2["Innings Wickets"]

In [43]:
inning_2 = inning_2[["match_id","Venue","BattingTeam","BowlingTeam","Innings","Over","Ball","wicket_left","Innings Runs","Balls Remaining","total_runs_y","Target Score","Winner"]]

In [44]:
inning_2 = inning_2.rename(columns = {"BattingTeam":"BowlingTeam","BowlingTeam":"BattingTeam"})

In [45]:
inning_2.head()

,match_id,Venue,BowlingTeam,BattingTeam,Innings,Over,Ball,wicket_left,Innings Runs,Balls Remaining,total_runs_y,Target Score,Winner
0,1,SuperSport Park,West Indies,South Africa,2,1,1,10,4,119,259,259,South Africa
1,1,SuperSport Park,West Indies,South Africa,2,1,2,10,8,118,259,259,South Africa
2,1,SuperSport Park,West Indies,South Africa,2,1,3,10,8,117,259,259,South Africa
3,1,SuperSport Park,West Indies,South Africa,2,1,4,10,8,116,259,259,South Africa
4,1,SuperSport Park,West Indies,South Africa,2,1,5,10,9,115,259,259,South Africa

In [46]:
inning_2 = inning_2.rename(columns={"Venue":"stadium","Innings Runs":"current_score","Balls Remaining":"balls_left","Target Score":"target","total_runs_y":"total_run"})

In [47]:
inning_2.head()

,match_id,stadium,BowlingTeam,BattingTeam,Innings,Over,Ball,wicket_left,current_score,balls_left,total_run,target,Winner
0,1,SuperSport Park,West Indies,South Africa,2,1,1,10,4,119,259,259,South Africa
1,1,SuperSport Park,West Indies,South Africa,2,1,2,10,8,118,259,259,South Africa
2,1,SuperSport Park,West Indies,South Africa,2,1,3,10,8,117,259,259,South Africa
3,1,SuperSport Park,West Indies,South Africa,2,1,4,10,8,116,259,259,South Africa
4,1,SuperSport Park,West Indies,South Africa,2,1,5,10,9,115,259,259,South Africa

In [48]:
inning_2["need_run"] = inning_2["target"] - inning_2["current_score"]

In [49]:
inning_2["CRR"] = (inning_2["current_score"]*6)/(120 - inning_2["balls_left"])

In [51]:
inning_2["RRR"] = (inning_2["need_run"]*6)/(inning_2["balls_left"])

In [52]:
inning_2["CRR"] = inning_2["CRR"].replace([np.inf, -np.inf],0)
inning_2["RRR"] = inning_2["RRR"].replace([np.inf, -np.inf],0)

In [53]:
inning_2.head()

,match_id,stadium,BowlingTeam,BattingTeam,Innings,Over,Ball,wicket_left,current_score,balls_left,total_run,target,Winner,need_run,CRR,RRR
0,1,SuperSport Park,West Indies,South Africa,2,1,1,10,4,119,259,259,South Africa,255,24.0,12.857143
1,1,SuperSport Park,West Indies,South Africa,2,1,2,10,8,118,259,259,South Africa,251,24.0,12.762712
2,1,SuperSport Park,West Indies,South Africa,2,1,3,10,8,117,259,259,South Africa,251,16.0,12.871795
3,1,SuperSport Park,West Indies,South Africa,2,1,4,10,8,116,259,259,South Africa,251,12.0,12.982759
4,1,SuperSport Park,West Indies,South Africa,2,1,5,10,9,115,259,259,South Africa,250,10.8,13.043478

In [54]:
Inning_2 = inning_2["stadium"].value_counts()[inning_2["stadium"].value_counts()>500]

In [55]:
def result(row):
    return  1 if row["BattingTeam"] == row["Winner"] else 0

In [56]:
inning_2["result"] = inning_2.apply(result,axis=1)

In [57]:
inning_2.head()

,match_id,stadium,BowlingTeam,BattingTeam,Innings,Over,Ball,wicket_left,current_score,balls_left,total_run,target,Winner,need_run,CRR,RRR,result
0,1,SuperSport Park,West Indies,South Africa,2,1,1,10,4,119,259,259,South Africa,255,24.0,12.857143,1
1,1,SuperSport Park,West Indies,South Africa,2,1,2,10,8,118,259,259,South Africa,251,24.0,12.762712,1
2,1,SuperSport Park,West Indies,South Africa,2,1,3,10,8,117,259,259,South Africa,251,16.0,12.871795,1
3,1,SuperSport Park,West Indies,South Africa,2,1,4,10,8,116,259,259,South Africa,251,12.0,12.982759,1
4,1,SuperSport Park,West Indies,South Africa,2,1,5,10,9,115,259,259,South Africa,250,10.8,13.043478,1

In [58]:
inning_2.shape

(75744, 17)

In [59]:
final_df = inning_2[["BattingTeam","BowlingTeam","stadium",'balls_left',"need_run",'wicket_left','target','CRR','RRR','result']]

In [60]:
final_df.head()

,BattingTeam,BowlingTeam,stadium,balls_left,need_run,wicket_left,target,CRR,RRR,result
0,South Africa,West Indies,SuperSport Park,119,255,10,259,24.0,12.857143,1
1,South Africa,West Indies,SuperSport Park,118,251,10,259,24.0,12.762712,1
2,South Africa,West Indies,SuperSport Park,117,251,10,259,16.0,12.871795,1
3,South Africa,West Indies,SuperSport Park,116,251,10,259,12.0,12.982759,1
4,South Africa,West Indies,SuperSport Park,115,250,10,259,10.8,13.043478,1

In [61]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state =42)

In [62]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix

In [83]:
lr = LogisticRegression()
gnb = GaussianNB()
rf = RandomForestClassifier(n_estimators=100,max_depth =15)
xgb = XGBClassifier()

In [84]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([("ohe",OneHotEncoder(sparse_output=False,drop="first"),["BattingTeam","BowlingTeam","stadium"])],
                       remainder = "passthrough")

In [85]:
pipe_2 = Pipeline(steps=[
    ('step1',trf),
    ('step2',rf)
])

In [86]:
pipe_2= make_pipeline(trf,rf)
pipe_2.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'stadium'])])),
                ('randomforestclassifier',
                 RandomForestClassifier(max_depth=15))])

In [87]:
y_pred = pipe_2.predict(X_test)
accuracy_score(y_test,y_pred)

0.9401280612581688

In [88]:
confusion_matrix(y_test,y_pred)

array([[7305,  493],
       [ 414, 6937]], dtype=int64)

In [89]:
pipe_2.predict_proba(X_test)[1]

array([0.91716004, 0.08283996])

In [90]:
pickle.dump(pipe_2,open("pipe_2.pkl","wb"))